body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #101010;
    color: white;
    font-size: 14px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.logo {
    height: 25px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

#attr {
    border: 1px solid silver;
    width: 100%;
}

#fw_filter label{
    color:white;
}

#fw_filter label input{
    color: black;
}

#attr caption {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    background-color: silver;
    color: black;
    padding: 5px;
}

    #attr th {
        border: 1px solid silver;
        padding: 5px;
    }

    #attr td {
        border: 1px solid silver;
        padding: 5px;
    }

#select {
    border-collapse: separate;
    border-spacing: 5px;
}

#select td {
    border: 5px solid silver;
    border-radius: 15px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75vw;
}

#select a {
    color: white;
}

#select td:hover {
    text-decoration: underline;
    cursor: pointer;
}

#select td:hover img {
    background: white;
}

#select td img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to bottom, midnightblue, dodgerblue);
    margin-bottom: 5px;
}

/* Acordeon styles */
.tab {
    position: relative;
    width: 100%;
    color: #fff;
    overflow: hidden;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    background: #303030;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.panel {
    border: 1px solid silver;
}

.panel-heading {
    background-color: silver !important;
    cursor: pointer;
}

.panel-heading h4 {
    color: black;
    font-weight: bold;
}

.panel-heading:hover > h4 {
    text-decoration: underline;
}

    .panel-heading:hover > h4::after {
        font-weight: bold;
    }

.panel-heading h4::after {
    content: "+";
    float: right;
    font-weight: normal;
}

.panel-body {
    border: none !important;
    background: #303030;
    padding: 0;
}

.panel-body[aria-expanded="true"] + h4::after {
    transform: rotate(315deg);
}

.panel-body::before, .panel-body::after {
    display: none;
}

.attacks {
    border: 1px solid silver;
    width: 100%;
    table-layout: fixed;
}

    .attacks col {
        border: 1px solid silver;
    }

.dataTables_filter {
    margin-bottom: 10px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.gantt{
    width:100%;
}

.gantt-numbers {
    font-size: .8em !important;
}

.lag, .hit, .invincible, .grab {
    text-align: center;
    color: black;
    border: 1px solid black;
}

.lag{
    background-color:yellow;
}

.hit{
    background-color:red;
    color: white;
}

.invincible{
    background-color:blue;
    color: white;
}

.grab {
    background-color: mediumpurple;
}
