body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #101010;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.logo {
    height: 30px;
}

.navbar {
    height: 60px;
    background-color: #303030;
}

.navbar-brand {
    padding: 15px 10px;
    height: 60px;
}

.navbar-inverse .navbar-nav > li > a {
    height: 60px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

table {
    border-collapse: separate;
    border-spacing: 5px;
}

td {
    border: 5px solid silver;
    border-radius: 15px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75vw;
}

td:hover {
    text-decoration: underline;
    cursor: pointer;
}

td:hover img {
    background: white;
}

    td img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: linear-gradient(to bottom, midnightblue, dodgerblue);
        margin-bottom: 5px;
    }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
