################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FrameByFrame/bin
/FrameByFrame/obj
/FrameByFrame/FrameByFrame.csproj.user
