@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<table style="width:100%; text-align:center;">
    <tr>
        <td>Dr. Mario</td>
        <td>Mario</td>
        <td>Luigi</td>
        <td>Bowser</td>
        <td>Peach</td>
        <td>Yoshi</td>
        <td>Donkey Kong</td>
        <td>Captain Falcon</td>
        <td>Ganondorf</td>
    </tr>
    <tr>
        <td>Falco</td>
        <td>Fox</td>
        <td>Ness</td>
        <td>Ice Climbers</td>
        <td>Kirby</td>
        <td>Samus</td>
        <td>Zelda/Sheik</td>
        <td>Link</td>
        <td>Young Link</td>
    </tr>
    <tr>
        <td></td>
        <td>Pichu</td>
        <td>Pikachu</td>
        <td>Jigglypuff</td>
        <td>Mewtwo</td>
        <td>Mr. Game &amp; Watch</td>
        <td>Marth</td>
        <td>Roy</td>
        <td></td>
    </tr>
</table>
