
<table style="width:100%; text-align:center; margin-top: 15vh">
    <tr>
        <td>
            <img alt="Dr. Mario" src="~/images/portraits/dr_mario.png" />
            <br />
            <span>Dr. Mario</span>
        </td>
        <td>
            <img alt="Mario" src="~/images/portraits/mario.png" />
            <br />
            <span>Mario</span>
        </td>
        <td>
            <img alt="Luigi" src="~/images/portraits/luigi.png" />
            <br />
            <span>Luigi</span>
        </td>
        <td>
            <img alt="Bowser" src="~/images/portraits/bowser.png" />
            <br />
            <span>Bowser</span>
        </td>
        <td>
            <img alt="Peach" src="~/images/portraits/peach.png" />
            <br />
            <span>Peach</span>
        </td>
        <td>
            <img alt="Yoshi" src="~/images/portraits/yoshi.png" />
            <br />
            <span>Yoshi</span>
        </td>
        <td>
            <img alt="Donkey Kong" src="~/images/portraits/dk.png" />
            <br />
            <span>Donkey Kong</span>
        </td>
        <td>
            <img alt="Captain Falcon" src="~/images/portraits/falcon.png" />
            <br />
            <span>Capt. Falcon</span>
        </td>
        <td>
            <img alt="Ganondorf" src="~/images/portraits/ganon.png" />
            <br />
            <span>Ganondorf</span>
        </td>
    </tr>
    <tr>
        <td>
            <img alt="Falco" src="~/images/portraits/falco.png" />
            <br />
            <span>Falco</span>
        </td>
        <td>
            <img alt="Fox" src="~/images/portraits/fox.png" />
            <br />
            <span>Fox</span>
        </td>
        <td>
            <img alt="Ness" src="~/images/portraits/ness.png" />
            <br />
            <span>Ness</span>
        </td>
        <td>
            <img alt="Ice Climbers" src="~/images/portraits/ice_climbers.png" />
            <br />
            <span>Ice Climbers</span>
        </td>
        <td>
            <img alt="Kirby" src="~/images/portraits/kirby.png" />
            <br />
            <span>Kirby</span>
        </td>
        <td>
            <img alt="Samus" src="~/images/portraits/dk.png" />
            <br />
            <span>Samus</span>
        </td>
        <td>
            <img alt="Zelda/Sheik" src="~/images/portraits/zelda.png" />
            <br />
            <span>Zelda/Sheik</span>
        </td>
        <td>
            <img alt="Link" src="~/images/portraits/link.png" />
            <br />
            <span>Link</span>
        </td>
        <td>
            <img alt="Young Link" src="~/images/portraits/young_link.png" />
            <br />
            <span>Young Link</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <img alt="Pichu" src="~/images/portraits/pichu.png" />
            <br />
            <span>Pichu</span>
        </td>
        <td>
            <img alt="Pikachu" src="~/images/portraits/pikachu.png" />
            <br />
            <span>Pikachu</span>
        </td>
        <td>
            <img alt="Jigglypuff" src="~/images/portraits/puff.png" />
            <br />
            <span>Jigglypuff</span>
        </td>
        <td>
            <img alt="Mewtwo" src="~/images/portraits/mewtwo.png" />
            <br />
            <span>Mewtwo</span>
        </td>
        <td style="font-size: .5vw;">
            <img alt="Mr. Game and Watch" src="~/images/portraits/gnw.png" />
            <br />
            <span>Mr. Game &amp; Watch</span>
        </td>
        <td>
            <img alt="Marth" src="~/images/portraits/marth.png" />
            <br />
            <span>Marth</span>
        </td>
        <td>
            <img alt="Roy" src="~/images/portraits/roy.png" />
            <br />
            <span>Roy</span>
        </td>
        <td></td>
    </tr>
</table>
