@{
    ViewData["Title"] = "Help";
    FrameByFrame.Models.Smash a = FrameByFrame.Controllers.FrameDataController.roster[10].SmashU;
}

<h1>Frame Data Chart</h1>

<div>
    <table class="attacks" style="margin-top: 20px">
        <col width="100px" />
        <col width="auto" />
        <col width="50px" />
        <col width="50px" />
        <col width="60px" />

        <tr style="background-color: whitesmoke; color: black; font-weight: bold">
            <td style="text-align: center">Attack Name</td>
            <td style="padding: 5px">Frame Data Visualization</td>
            <td style="text-align: center">FAF</td>
            <td style="text-align: center">Total</td>
            <td style="text-align: center">Charge Frame</td>
        </tr>
        <tr style="border: 1px solid silver;">
            <td style="text-align: center"><b>Up-smash</b> (Fox)</td>
            <td style="padding: 5px;">@Html.Raw(a.ganttChart())</td>
            <td style="text-align: center">@a.FAF</td>
            <td style="text-align: center">@a.Total</td>
            <td style="text-align: center">@a.ChargeFrame</td>
        </tr>
    </table>
</div>
<br/>
<div class="row">
    <div class="col-sm-8">
        <p>
            The chart above is an example of how attack moves are visualized on this site. Each move can be
            seen as a sequence of frames within the game. While this sequence plays out, the character model's
            state is classified as one of the following:
        </p>
        <div style="margin-left: 20px">
            <p style="font-weight: bold; color: yellow">LAG:</p>
            <p>
                When a move is performed, there is often a period of lag, both before and after the active
                hit-boxes, where the player is unable to move the character, and the character is in a vulnerable
                state because they're also not in a state where they can do damage to the opponent.
            </p>
            <p style="font-weight: bold; color: red">HIT-BOX:</p>
            <p>
                Hit-boxes are the areas where the move does damage to the opponent. They're called boxes because
                they don't necessarily represent the character as a whole. In many cases, such as the example GIF,
                the hit-boxes only cover part of the model's body so that a punch will only hit the opponent if the
                model's fist is in the vicinity of the opponent.
            </p>
            <p style="font-weight: bold; color: mediumpurple">GRAB-BOX:</p>
            <p>
                Grab-boxes are like hit-boxes, but instead of doing damage to the opponent, they allow for your
                character to hold the opponent so that they cannot move. Then, once holding, you can perform
                attacks on the opponent character until they break out of the hold.
            </p>
            <p style="font-weight: bold; color: dodgerblue">INVULNERABLE:</p>
            <p>
                In some situations, a part of the character model will become invulnerable to damage while executing
                an attack move. For example, the GIF shows Fox's head is invulnerable at the beginning of his
                <b>up-smash</b> move. If that part of Fox's body was inside a hit-box of the opponent character model
                at that point, the move would do no damage to Fox. This blue is not shown in the chart for this 
                particular move because the majority of the character model is still vulnerable at this time.
            </p>
        </div>
        <p>
            The <b>FAF</b> refers to the First Actionable Frame. This is the frame number at which you can execute 
            another move for the first time after executing the current move.
        </p>
        <p>
            The <b>Total</b> column refers to the total number of frames it takes to execute the move in its entirety. 
            This number is often one less than the FAF, as is the case in our example. However, the end of some moves can 
            be escaped before the end of the animation by executing another move. In these cases, the FAF would be less 
            than the total number of frames.
        </p>
        <p>
            The <b>Charge Frame</b> refers to the frame on which a smash attack can be charged. Any smash attack can be charged for anywhere between 0 and 60 frames. 
            The longer a smash attack is charged, the more powerful that attack becomes.
        </p>
    </div>
    <div class="col-sm-4">
        <figure>
            <img src="~/images/FoxUpSmash.gif" style="width: 100%; border: 1px solid silver" />
            <figcaption style="text-align: center; margin-top: 5px">GIF of Fox's <b>up-smash</b> state changes</figcaption>
        </figure>
    </div>
</div>