@model List<Character>

@{
    ViewData["Title"] = "Character Select";
}
<audio id="title" src="~/sound/nr_title01.dsp.wav"></audio>

<div style="margin-top:3vh;"><img class="img-responsive" src="~/images/title.png" style="margin:auto;height:30vh" onclick="$('#title').get(0).play();" /></div>
<table id="select" style="width:100%; text-align:center; margin-top: 5vh">
    <tr>
        <td>
            <a href="/Character/Dr_Mario">
                <img alt="Dr. Mario" src="~/images/portraits/dr_mario.png" />
                <br />
                <span>Dr. Mario</span>
            </a>
        </td>
        <td>
            <a href="/Character/Mario">
                <img alt="Mario" src="~/images/portraits/mario.png" />
                <br />
                <span>Mario</span>
            </a>
        </td>
        <td>
            <a href="/Character/Luigi">
                <img alt="Luigi" src="~/images/portraits/luigi.png" />
                <br />
                <span>Luigi</span>
            </a>
        </td>
        <td>
            <a href="/Character/Bowser">
                <img alt="Bowser" src="~/images/portraits/bowser.png" />
                <br />
                <span>Bowser</span>
            </a>
        </td>
        <td>
            <a href="/Character/Peach">
                <img alt="Peach" src="~/images/portraits/peach.png" />
                <br />
                <span>Peach</span>
            </a>
        </td>
        <td>
            <a href="/Character/Yoshi">
                <img alt="Yoshi" src="~/images/portraits/yoshi.png" />
                <br />
                <span>Yoshi</span>
            </a>
        </td>
        <td>
            <a href="/Character/Donkey_Kong">
                <img alt="Donkey Kong" src="~/images/portraits/donkey_kong.png" />
                <br />
                <span>Donkey Kong</span>
            </a>
        </td>
        <td>
            <a href="/Character/Captain_Falcon">
                <img alt="Captain Falcon" src="~/images/portraits/captain_falcon.png" />
                <br />
                <span>Captain Falcon</span>
            </a>
        </td>
        <td>
            <a href="/Character/Ganondorf">
                <img alt="Ganondorf" src="~/images/portraits/ganondorf.png" />
                <br />
                <span>Ganondorf</span>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Character/Falco">
                <img alt="Falco" src="~/images/portraits/falco.png" />
                <br />
                <span>Falco</span>
            </a>
        </td>
        <td>
            <a href="/Character/Fox">
                <img alt="Fox" src="~/images/portraits/fox.png" />
                <br />
                <span>Fox</span>
            </a>
        </td>
        <td>
            <a href="/Character/Ness">
                <img alt="Ness" src="~/images/portraits/ness.png" />
                <br />
                <span>Ness</span>
            </a>
        </td>
        <td>
            <a href="/Character/Ice_Climbers">
                <img alt="Ice Climbers" src="~/images/portraits/ice_climbers.png" />
                <br />
                <span>Ice Climbers</span>
            </a>
        </td>
        <td>
            <a href="/Character/Kirby">
                <img alt="Kirby" src="~/images/portraits/kirby.png" />
                <br />
                <span>Kirby</span>
            </a>
        </td>
        <td>
            <a href="/Character/Samus">
                <img alt="Samus" src="~/images/portraits/samus.png" />
                <br />
                <span>Samus</span>
            </a>
        </td>
        <td>
            <a href="/Character/Sheik">
                <img alt="Zelda/Sheik" src="~/images/portraits/zeldasheik.png" />
                <br />
                <span>Zelda/Sheik</span>
            </a>
        </td>
        <td>
            <a href="/Character/Link">
                <img alt="Link" src="~/images/portraits/link.png" />
                <br />
                <span>Link</span>
            </a>
        </td>
        <td>
            <a href="/Character/Young_Link">
                <img alt="Young Link" src="~/images/portraits/young_link.png" />
                <br />
                <span>Young Link</span>
            </a>
        </td>
    </tr>
    <tr>
        <td style="visibility: hidden"></td>
        <td>
            <a href="/Character/Pichu">
                <img alt="Pichu" src="~/images/portraits/pichu.png" />
                <br />
                <span>Pichu</span>
            </a>
        </td>
        <td>
            <a href="/Character/Pikachu">
                <img alt="Pikachu" src="~/images/portraits/pikachu.png" />
                <br />
                <span>Pikachu</span>
            </a>
        </td>
        <td>
            <a href="/Character/Jigglypuff">
                <img alt="Jigglypuff" src="~/images/portraits/jigglypuff.png" />
                <br />
                <span>Jigglypuff</span>
            </a>
        </td>
        <td>
            <a href="/Character/Mewtwo">
                <img alt="Mewtwo" src="~/images/portraits/mewtwo.png" />
                <br />
                <span>Mewtwo</span>
            </a>
        </td>
        <td style="font-size: .7vw;">
            <a href="/Character/Mr_Game_and_Watch">
                <img alt="Mr. Game and Watch" src="~/images/portraits/mr_game_and_watch.png" />
                <br />
                <span>Mr. Game &amp; Watch</span>
            </a>
        </td>
        <td>
            <a href="/Character/Marth">
                <img alt="Marth" src="~/images/portraits/marth.png" />
                <br />
                <span>Marth</span>
            </a>
        </td>
        <td>
            <a href="/Character/Roy">
                <img alt="Roy" src="~/images/portraits/roy.png" />
                <br />
                <span>Roy</span>
            </a>
        </td>
        <td style="visibility: hidden"></td>
    </tr>
</table>
@{
    if (Model != null)
    {
        foreach (Character c in Model) // get all normal attacks
        {
            <div>@c.Name</div>

        }
    }
}
